.row.article-component
  .col.s12.m6.offset-m3
    .card-panel 
      a.post-title(href='#{post._id}/detail')= post.title
      .post-info
        i.material-icons access_time
        span= post.created_at
        i.material-icons label
        span= post.tags.join(', ')
      p= post.content 
      
      // feature
      //.menu-bar
      //  a.menu-item(href="")
      //    i.material-icons whatshot
      //  a.menu-item(href="")
      //    i.material-icons remove_red_eye
      //  a.menu-item(href="")
      //    i.material-icons border_color

      ul.collection

        each comment in post.comments
          li.collection-item.avatar
            img.circle(src='#{comment.avatar}', alt='用户头像')
            //span.title= comment.title
            span.title= comment.username
            //p= comment.content
            p= comment.content
      if isSignIn
        form(action="/post/#{post._id}/comment" method="POST")
          .input-field
            //img.prefix.circle(src="/images/avatar.jpg")
            textarea#icon_avatar.materialize-textarea(name="comment")
            label(for='icon_avatar') 你的评论
          button.waves-effect.waves-light.btn(type="submit")
              i.material-icons.right send
              | 评论

      else
          a(href="u/signin") 评论, 请先登录