// profile
// comment

extends layout
block content
    .row#user-page
        .col.s12.m6.offset-m3
            .card-panel
                .userinfo-wrapper
                    // TODO 使头像不变形
                    img.user-avatar.circle(src="#{profile.avatar}")
                    span.intro= profile.intro

    .row.comment-wrapper
      .col.s12.m6.offset-m3
        ul.tabs.comment-tabs.z-depth-2
          li.tab.col.s4
            a(href='#test1') 所有评论
          li.tab.col.s4
            a(href='#test2') 已发表
          li.tab.col.s4
            a(href='#test3') 待审核
        #test1
          ul.collection
            each comment in comments
              li.collection-item
                div
                  span= comment.content
                  a.secondary-content.admin-icon(href="/comment/#{comment._id}/remove")
                    i.material-icons delete
            else
              p.center-align 这里空空如也
        #test2
          ul.collection
            each comment in allowed_comments
              li.collection-item
                div
                  span= comment.content
                  a.secondary-content.admin-icon(href="/comment/#{comment._id}/remove")
                    i.material-icons delete
            else
              p.center-align 这里空空如也
        #test3
          ul.collection
            each comment in not_allowed_comments
              li.collection-item
                div
                  span= comment.content
                  a.secondary-content.admin-icon(href="/comment/#{comment._id}/remove")
                    i.material-icons delete
            else
              p.center-align 这里空空如也

block script
    script.
        $(document).ready(function () {
            $('.collapsible').collapsible({
                accordion: false
            });
          $('ul.tabs').tabs();
        });

